.jt-app {
  z-index: 3500;
  position: absolute;
  top: 40px;
  right: 10px;
  width: 300px;
}

.jt-app button {
  border-radius: 3px;
  border-width: 0;
  color: white;
  padding: 5px 20px;
  margin-right: 16px;
  background-color: #484B52;
  color: white;
  font-weight: bold;
  height: 36px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}

.jt-app button:hover,
.active .jt-app-loader button:hover  {
  background-color: #595e68;
}

.jt-app .jt-app-loader button {
  border-radius: 0 0 3px 3px;
  top: 0;
  right: 0;
  margin-right: 0;
  width: 44px;
  outline: none;
  position: absolute;
  padding: 5px;
  z-index: 3600;
}

.active .jt-app-loader button {
  background-color: #484B52;
}

.active .jt-app-loader button {
  box-shadow: none;
  border-radius: 0 0 0 3px;
}

.jt-app button.cancel {
  background-color: #5f2424;
}

.jt-app button.cancel:hover {
  background-color: #6e2b2b;
}

.active .jt-app header {
  background-color: #282c34;
}

.jt-app-body {
  color: white;
  padding: 10px 10px 0;
  background-color: #282c34;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s 0s ease-out;
  -moz-transition: opacity 0.5s 0s ease-out;
  -o-transition: opacity 0.5s 0s ease-out;
  transition: opacity 0.5s 0s ease-out;
}

.active .jt-app-body {
  display: block;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  opacity: 1;
  visibility: visible;
}

.jt-app footer {
  padding: 10px 0;
  font-size: 12px;
  font-style: italic;
  color: #ccc;
}

.jt-app footer a {
  color: #a4a4fa
}